<% layout('inner-layout') -%>
<div class="body-content">
   <div id="banner"></div>
   <div class="container">
        <div class="col-md-4">
             <div id="user-profile" class="col-md-12">
                 <div class="col-md-4">
                     <img src="resources/assets/images/imageProfile.png" class="img-responsive"/>
                 </div>
                 <div class="col-md-8 no-padding">
                     <h4>LOREM IPSUM DOLOR</h4>
                     <p><i class="fa fa-mobile"></i> +63-912-345-6789</p>
                     <p style="font-weight: 300">No. of Credits: <strong>300</strong></p>
                     <p><a style="font-weight: 300" href="">Buy Credits</a></p>
                 </div>
              </div>
              
              <div id="search-form" class="col-md-12 no-padding">
                  <div class="header"><h4>SEARCH PROFFESSIONALS</h4></div>
                  <form>
                      <div class="form-group">
                        <label>KEYWORDS</label>
                        <input type="text" class="form-control" placeholder="ex: lawyer">
                      </div>   
                      <div class="form-group">
                        <label>LOCATION</label>
                        <input type="text" class="form-control" placeholder="ex: Makati City, Philippines">
                      </div> 
                      <div class="form-group">
                        <label>CATEGORY</label>
                        <select>
						  <option value="cat-1">Lawyer (Profession)</option>
						  <option value="cat-2">Education</option>
						  <option value="cat-3">Government Agencies</option>
						  <option value="cat-4">Hotlines</option>
						</select>
                      </div>
                      
                      <div class="form-group">
                         <button type="button" class="btn submit">SEARCH</button>
                      </div>
                  </form>    
              </div>
        </div>
        <div id="category" class="col-md-8 no-padding">
            <div class="header">
                <div id="category-list">
                    <div class="line col-md-3"></div>        
                    <div class="col-md-6"><h2 class="text-center">CATEGORIES</h2></div>        
                    <div class="line col-md-3"></div> 
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div> 
            </div>
            <div class="list container">
                <div class="col-md-6">
                    <h4><i class="fa fa-building"></i> LAWYER(PROFESSION)</h4>
                    <p>Nam sit amet erat nec risus lobortis rutrum. Aenean ornare tempor nisl, vel egestas diam ullamcorper quis. Vivamus semper luctus malesuada. Pellentesque et mi justo.</p>
                </div>
                <div class="col-md-6">
                    <h4><i class="fa fa-building"></i> EDUCATION</h4>
                    <p>Nam sit amet erat nec risus lobortis rutrum. Aenean ornare tempor nisl, vel egestas diam ullamcorper quis. Vivamus semper luctus malesuada. Pellentesque et mi justo.</p>
                </div>
                <div class="col-md-6">
                    <h4><i class="fa fa-building"></i> GOVERNMENT AGENCIES</h4>
                    <p>Nam sit amet erat nec risus lobortis rutrum. Aenean ornare tempor nisl, vel egestas diam ullamcorper quis. Vivamus semper luctus malesuada. Pellentesque et mi justo.</p>
                </div>
                <div class="col-md-6">
                    <h4><i class="fa fa-building"></i> HOTLINES</h4>
                    <p>Nam sit amet erat nec risus lobortis rutrum. Aenean ornare tempor nisl, vel egestas diam ullamcorper quis. Vivamus semper luctus malesuada. Pellentesque et mi justo.</p>
                </div>
            </div>        
        </div>
   </div>
</div>