<% layout('layout') -%>
<div id="header" class="navbar navbar-fixed-top">
<div class="navbar-inner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="fa fa-reorder fa-2x" style="color: #fff"></span>
            </button>
            <a id="logo" class="navbar-brand" href="/"><span style="color: #F63D2E">Co</span>Needs</a>
        </div>
        <div id="main-nav" class="navbar-collapse collapse">
              <ul id="menu-container" class="nav navbar-nav pull-right">
             <!--      <li><a href="#features">Features</a></li> -->
                  <li><a href="">Contact Us</a></li>
                  <li><a href="http://developer.globelabs.com.ph/dialog/oauth?app_id=yk6pAsRzMMeCb5cpa9iMnGC8k6bosa6x" data-toggle="modal">Register</a></li>
                  <li><a href="" data-toggle="modal" data-target="#login-modal">Login</a></li>
              </ul>
       </div><!--/.nav-collapse -->
     </div>
  </div>
</div>
<div class="body-content">
 <div id="home">
     <div class="container">
         <div class="col-sm-8 col-md-6">
                <h1>THE FASTEST WAY TO REACH PROFFESIONALS</h1>
                <p>CALL, TEXT, VIDEOCALL AND CHAT WITH THE POTENTIAL PEOPLE IN REAL TIME.</p>
                <form action="/professionals" method="GET">
                    <div class="input-group">
                        <input name="keywords" type="text" class="form-control" placeholder="I'M LOOKING FOR.... (I.E: LAWYER...)">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
              </form>            
         </div>    
     </div>
 </div>
 <div id="features">
     <div class="container">
         <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-xs-4 col-sm-2 col-md-1"><img src="resources/assets/images/smsIcon.png" class="img-responsive"/></div>
                        <div class="col-xs-8 col-sm-10 col-md-11"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis facilisis risus non blandit lacinia.Interdum et malesuada fames.</p></div>
         </div>
                   <div class="item">
                        <div class="col-xs-4 col-sm-2 col-md-1"><i class="fa fa-video-camera"></i></div>
                        <div class="col-xs-8 col-sm-10 col-md-11"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis facilisis risus non blandit lacinia.Interdum et malesuada fames</p></div>
                   </div>
                   <div class="item">
                        <div class="col-xs-4 col-sm-2 col-md-1"><i class="fa fa-phone"></i></div>
                        <div class="col-xs-8 col-sm-10 col-md-11"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis facilisis risus non blandit lacinia.Interdum et malesuada fames.</p></div>
                   </div>
         
                </div>
  
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="fa fa-angle-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="fa fa-angle-right"></span>
    </a>
  </div>
        </div>
    </div>
</div>