<div id="header-profile" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="fa fa-reorder fa-2x" style="color: #fff"></span>
                </button>
                <a id="logo" class="navbar-brand" href="#"><span style="color: #F63D2E">Co</span>Needs</a>
            </div>
            <div id="main-nav" class="navbar-collapse collapse">
                <ul id="menu-container" class="nav navbar-nav pull-right">
              <!--        <li><a href="">Contact Us</a></li>
                    <li><a href="" data-toggle="modal" data-target="#register-modal">Register</a></li>
                    <li><a href="" data-toggle="modal" data-target="#login-modal">Login</a></li>
              -->
                </ul>
           </div><!--/.nav-collapse -->
         </div>
      </div>
</div>
<div class="after-nav"></div>